@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "Alarm Clock";
  src: url("/fonts/alarm-clock.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #fff;
  color: #000;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-corner {
  background: #aaa;
}

::-webkit-scrollbar-track {
  background: #aaa;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #4c4c4c;
  border-radius: 20px;
  border: 2px #4c4c4c;
}
